.section-13 {
  background-color: var(--light-blue-bg);
}

@media screen and (max-width: 767px) {
  .section-13 {
    padding-bottom: 24px;
  }
}

.container-38 {
  max-width: 1440px;
  padding-bottom: 20px;
}

.quick-stack-9 {
  padding-right: 0px;
  padding-left: 0px;
}

@media screen and (max-width: 767px) {
  .quick-stack-9 {
    padding-right: 0px;
    padding-left: 0px;
  }
}

.cell-10 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.div-block-2 {
  display: flex;
  padding-right: 20px;
  padding-left: 20px;
  flex-direction: column;
  flex-wrap: nowrap;

  border-radius: 24px;

  background-image: linear-gradient(to bottom, var(--white),var(--white));
}

@media screen and (max-width: 767px) {
  .div-block-2 {
    padding: 16px;
  }
}

@media screen and (max-width: 479px) {
  .div-block-2 {
    padding-right: 8px;
    padding-left: 8px;
  }
}

.form-block {
  display: block;
  flex-direction: column;
  align-items: flex-start;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.div-block-3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.quick-stack-8 {
  padding: 0px;
  flex: 0 auto;
}

.cell-13 {
  justify-content: center;
  flex-wrap: nowrap;
}

.div-block-4 {
  display: flex;
  flex-direction: column;
}

.field-label-2 {
  margin-top: 16px;
  margin-right: 8px;

  font-family: Outfit;
  font-size: 18px;
  line-height: 1.8em;
  font-weight: 500;
}

@media screen and (max-width: 479px) {
  .field-label-2 {
    padding-left: 10px;
    font-size: 14px;
  }
}

.form-input-contact {
  height: auto;
  min-height: 2.75rem;
  margin-bottom: 0px;
  padding: 24px;

  border: 0px solid transparent;
  border-radius: 24px;

  background-image: linear-gradient(to bottom, var(--light-blue-bg),var(--light-blue-bg));

  font-family: Outfit;
  color: transparent;
  font-size: 18px;
  line-height: 1.6;
}

.form-input-contact:focus {
  border-color: hsla(208.00000000000003, 0.00%, 0.00%, 1.00);
}

.form-input-contact::placeholder {
  color: hsla(240, 0.00%, 0.00%, 0.60);
}

@media screen and (max-width: 991px) {
  .form-input-contact {
    font-size: 16px;
  }
}

@media screen and (max-width: 479px) {
  .form-input-contact {
    width: 100%;
    padding: 16px;
    font-size: 16px;
  }
}

.cell-12 {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.div-block-5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.pill-contact {
  display: inline-block;
  margin: 8px 12px;
  padding: 5px 24px;
  flex-direction: column;
  align-items: flex-start;

  border: 1px solid var(--digital-blue);
  border-radius: 42px;

  outline-color: #333;
  outline-offset: 0px;
  outline-style: none;
  outline-width: 3px;

  font-family: Outfit;
  color: var(--digital-blue);
  font-size: 18px;

  cursor: pointer;
}

@media screen and (max-width: 479px) {
  .pill-contact {
    font-size: 14px;
  }
}

.card-button {
  margin-top: 16px;
  padding: 5px 20px;

  border: 1px solid var(--digital-blue);
  border-radius: 100px;

  background-color: var(--white);

  transition: all 400ms ease;

  color: var(--digital-blue);
}

.card-button:hover {
  background-color: var(--digital-blue);
  transform: translate(0px, -5px);
  color: var(--white);
}

@media screen and (max-width: 767px) {
  .card-button {
    margin-top: 16px;
  }
}

@media screen and (max-width: 479px) {
  .card-button {
    margin-top: 8px;
  }
}

.cell-11 {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.map {
  display: flex;
}

#w-node-faa6a8a0-f397-0c9f-7866-e80f4f5793a4-4f5793a2 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
#w-node-faa6a8a0-f397-0c9f-7866-e80f4f5793aa-4f5793a2 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
@media screen and (max-width: 991px) {
  #w-node-faa6a8a0-f397-0c9f-7866-e80f4f5793a4-4f5793a2 {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  #w-node-faa6a8a0-f397-0c9f-7866-e80f4f5793a5-4f5793a2 {
  }
  #w-node-faa6a8a0-f397-0c9f-7866-e80f4f5793ce-4f5793a2 {
  }
}
@media screen and (max-width: 479px) {
  #w-node-faa6a8a0-f397-0c9f-7866-e80f4f5793aa-4f5793a2 {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  #w-node-faa6a8a0-f397-0c9f-7866-e80f4f5793ab-4f5793a2 {
  }
  #w-node-faa6a8a0-f397-0c9f-7866-e80f4f5793b0-4f5793a2 {
  }
}